* {
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to bottom right,purple,blue);
    height: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 


nav {
    background-color: blue ;
    height: 25px; 
}

#BigBar {
    border-top: 2px solid black;
    margin-top: .10px;
}
img {
    display:inline;
    width: 23.75%;
    height: 100px;
    margin: 5px;
    border: 2px solid rgb(202, 43, 226);
  }

.SubHead {
    font-size: 50px;
    line-height: 5px;
    color: blueviolet;
    font-weight: bold;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.BodyFont {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.P-Center {
    position: relative;
    right: 42%;
    left: 42%;
}

.P-Left {
    position: relative;
    right: 25%;
    left: 25%;
}

 .P-Right {
   position: relative;
   right: 60%;
   left: 60%;
} 

#Main-Image {
    display: inline;
    width: 100%;
    height: 450px;
    margin: 5px;
    border: 2px solid blueviolet;  
}

#Profile-Image {
    width: 250px;
    height: 250px;
    margin-bottom: 10%;
    margin-right: 20px;
    border: 2px solid blueviolet;
}

#float-left {
    float: left;
}

#Mast {
    background-image: linear-gradient(to bottom right,purple,blue);
    height: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Footer {
    background-image: linear-gradient(to bottom right,purple,blue);
    height: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Name {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Sub {
    font-size: 25px;
    line-height: 5px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#SubName {
    font-size: 15px;
    color: palevioletred;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media screen and (max-width: 768px) {
    #AboutBlock {
        display: inline-block;
      width: 100%;
    }
}


@media screen and (max-width: 768px) {
    #WorkBlock {
      display:inline-flex;
      width: 100%;
    }
}



